# Workspace noise
.venvs/
.codex
.codex/
**/__pycache__/
**/.ipynb_checkpoints/
tmp/
*.tmp
*.log
~$*
.DS_Store
Thumbs.db
PlanetData/marine_debris/nasa-marine-debris/
ap_bundle/
ap_stage/
supervisor_bundle/
test_apply_patch_stage.txt

planet_api.txt


# Large remote-sensing and raw data payloads
*.zip.part
*.nc

*.npy
*_clip.xml
*.pth
*.tif.aux.xml
*.tif
*.tiff
*.jp2
*.img
*.dim
*.zip
*.7z
*.tar
*.gz
*.SAFE/
*.data/
Data_Creation/*/processed_slc/
Data_Creation/Patches/
sar_ml_pipeline_legacy/

# Keep vector reference data and normal figures/docs
!*.shp
!*.shx
!*.dbf
!*.prj
!*.cpg
!*.png
!*.jpg
!*.jpeg
!*.gif
